<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
  <head>
    <title>My girl Sass looks GOOD</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport' />
    <link rel='stylesheet' type='text/css' href='../stylesheets/css/index.css' />
    <link rel='stylesheet' type='text/css' href='../stylesheets/bootstraps/bootstrap.css' />
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <section class='beer text-center'>
      <h1>Booze provided by:</h1>
      <img src='images/pwd-300x300.png' width='300' height='300' />
      <h1 style='display:inline-block;color:#c55500'>&</h1>
      <img src='images/jrs.png' width='300' height='300' />
      <div class='clear'></div>
      <div class='down-arrow'></div>
    </section>
    <section class='fancy-sass text-center'>
      <div id='logo-container'>
        <a href='/teachmehowtosassy'>
          <img id='logo' src='images/sassy.png' />
        </a>
        <a href="https://www.google.com/#hl=en&gs_nf=1&gs_mss=if%20you've%20found%20this%20page%20clap%203%20times&tok=o7hUxSB_VEMJYlH5khg3Uw&pq=if%20you've%20found%20this%20page%20clap%203%20times%20and%20win%20a%20prize&cp=78&gs_id=87&xhr=t&q=if+you've+found+this+page+clap+3+times,+spin+around,+and+i'll+give+you+cookies&pf=p&sclient=psy-ab&oq=if+you've+found+this+page+clap+3+times,+spin+around,+and+i'll+give+you+cookies&aq=f&aqi=&aql=&gs_l=&pbx=1&bav=on.2,or.r_gc.r_pw.r_cp.r_qf.,cf.osb&fp=e790b5a8625b1eb2" target='_new'>
          <div id='link1'></div>
        </a>
        <a href='http://www.reddit.com' target='_new'>
          <div id='link2'></div>
        </a>
        <a href='http://twitter.com/#!/robertwpearce' target='_new'>
          <div id='link3'></div>
        </a>
        <a href='http://www.github.com/rpearce' target='_new'>
          <div id='link4'></div>
        </a>
        <a href='http://news.ycombinator.com' target='_new'>
          <div id='link5'></div>
        </a>
        <a href='http://www.youtube.com/watch?v=oHg5SJYRHA0' target='_new'>
          <div id='link6'></div>
        </a>
        <a href='http://www.whatthefuckshouldimakefordinner.com' target='_new'>
          <div id='link7'></div>
        </a>
        <a href='http://www.jackhq.com' target='_new'>
          <div id='link8'></div>
        </a>
      </div>
    </section>
  </body>
</html>