.left {
  float: left; }

.right {
  float: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.ease-in-out, #logo-container, #logo, #link1, #link2, #link3, #link4, #link5, #link6, #link7, #link8 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.translate-3d, #link1, #link2, #link3, #link4, #link5, #link6, #link7, #link8 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#logo-container {
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 400px;
  color: #0099FF; }
  #logo-container:hover #link1 {
    -webkit-transform: translate(-215px, -155px);
    -moz-transform: translate(-215px, -155px);
    -o-transform: translate(-215px, -155px);
    -ms-transform: translate(-215px, -155px);
    transform: translate(-215px, -155px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 81px;
    height: 81px;
    z-index: 0; }
  #logo-container:hover #link2 {
    -webkit-transform: translate(-30px, -155px);
    -moz-transform: translate(-30px, -155px);
    -o-transform: translate(-30px, -155px);
    -ms-transform: translate(-30px, -155px);
    transform: translate(-30px, -155px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 81px;
    height: 81px;
    z-index: 0; }
  #logo-container:hover #link3 {
    -webkit-transform: translate(150px, -155px);
    -moz-transform: translate(150px, -155px);
    -o-transform: translate(150px, -155px);
    -ms-transform: translate(150px, -155px);
    transform: translate(150px, -155px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 81px;
    height: 81px;
    z-index: 0; }
  #logo-container:hover #link4 {
    -webkit-transform: translate(150px, -35px);
    -moz-transform: translate(150px, -35px);
    -o-transform: translate(150px, -35px);
    -ms-transform: translate(150px, -35px);
    transform: translate(150px, -35px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 81px;
    height: 81px;
    z-index: 0; }
  #logo-container:hover #link5 {
    -webkit-transform: translate(150px, 85px);
    -moz-transform: translate(150px, 85px);
    -o-transform: translate(150px, 85px);
    -ms-transform: translate(150px, 85px);
    transform: translate(150px, 85px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 81px;
    height: 81px;
    z-index: 0; }
  #logo-container:hover #link6 {
    -webkit-transform: translate(-30px, 85px);
    -moz-transform: translate(-30px, 85px);
    -o-transform: translate(-30px, 85px);
    -ms-transform: translate(-30px, 85px);
    transform: translate(-30px, 85px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 81px;
    height: 81px;
    z-index: 0; }
  #logo-container:hover #link7 {
    -webkit-transform: translate(-215px, 85px);
    -moz-transform: translate(-215px, 85px);
    -o-transform: translate(-215px, 85px);
    -ms-transform: translate(-215px, 85px);
    transform: translate(-215px, 85px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 81px;
    height: 81px;
    z-index: 0; }
  #logo-container:hover #link8 {
    -webkit-transform: translate(-215px, -35px);
    -moz-transform: translate(-215px, -35px);
    -o-transform: translate(-215px, -35px);
    -ms-transform: translate(-215px, -35px);
    transform: translate(-215px, -35px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 81px;
    height: 81px;
    z-index: 0; }

#logo {
  margin-top: 150px;
  width: 250px;
  height: 125px; }
  #logo:hover {
    opacity: 0.5; }

#link1, #link2, #link3, #link4, #link5, #link6, #link7, #link8 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  position: fixed;
  margin-top: -70px;
  margin-left: 240px;
  width: 20px;
  height: 20px;
  z-index: -1;
  opacity: 0.5; }
  #link1:hover, #link2:hover, #link3:hover, #link4:hover, #link5:hover, #link6:hover, #link7:hover, #link8:hover {
    opacity: 1; }

#link1 {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
  background: url(/images/google.png) no-repeat; }

#link2 {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
  background: url(/images/reddit.png) no-repeat; }

#link3 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
  background: url(/images/twitter.png) no-repeat; }

#link4 {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
  background: url(/images/github.png) no-repeat; }

#link5 {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
  background: url(/images/ycombinator.png) no-repeat; }

#link6 {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
  background: url(/images/youtube.png) no-repeat; }

#link7 {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;
  background: url(/images/wtf_for_dinner.png) no-repeat; }

#link8 {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s;
  background: url(/images/jackhq.png) no-repeat; }
