/*
Syntax error: Undefined variable: "$navbar-top-background".
        on line 34 of ./public/stylesheets/scss/partials/_base.scss
        from line 27 of ./public/stylesheets/scss/site2.scss

Backtrace:
./public/stylesheets/scss/partials/_base.scss:34
./public/stylesheets/scss/site2.scss:27
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/script/variable.rb:49:in `_perform'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/script/node.rb:40:in `perform'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:216:in `visit_prop'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/tree/root_node.rb:20:in `render'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/engine.rb:299:in `_render'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/engine.rb:246:in `render'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:332:in `update_stylesheet'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:201:in `each'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/plugin.rb:107:in `method_missing'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/exec.rb:431:in `watch_or_update'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/exec.rb:302:in `process_result'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/exec.rb:41:in `parse'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/lib/sass/exec.rb:21:in `parse!'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/gems/sass-3.1.16/bin/sass:8:in `<top (required)>'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/bin/sass:19:in `load'
/Users/robertwaltonpearce/.rvm/gems/ruby-1.9.3-p0@oh_you_sassy-ConvergeSE/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$navbar-top-background\".\A         on line 34 of ./public/stylesheets/scss/partials/_base.scss\A         from line 27 of ./public/stylesheets/scss/site2.scss"; }
