// Variables
// ----------------------------------------------------------->
$white                    : #FFFFFF;
$whitesmoke               : #F5F5F5;
$light-sexy-blue          : #60C2ED;
$dark-brown-gray          : #333333;
$dark-brown-gray-light    : #3F3F3F;
$cream                    : #FCF1E0;
$salmon                   : #C65E59;
$nav-top-float            : right;
$logo-bar-align           : right;
$logo-font                : 'Montez', cursive;
$logo-font-size           : 64px;
$main-content-background  : url(../../images/white-opacity70.png);
$section-header-font      : 'Montez', cursive;
$section-header-font-size : 30px;
$section-background       : $light-sexy-blue;
$section2-background      : $cream;
$section3-background      : $salmon;
$section-header-color     : $white;
$section2-header-color    : $dark-brown-gray;
$section3-header-color    : $white;
$section-column-color     : $whitesmoke;
$section2-column-color    : $dark-brown-gray-light;
$section3-column-color    : $whitesmoke;

@import "partials/base";
