// Variables
// ----------------------------------------------------------->
$white                        : #FFFFFF;
$whitesmoke                   : #F5F5F5;
$light-sexy-blue              : #60C2ED;
$dark-brown-gray              : #333333;
$dark-brown-gray-light        : #3F3F3F;
$chocolate-chip               : #513428;
$cream                        : #FCF1E0;
$salmon                       : #C65E59;
$navbar-top-background        : $white;
$navbar-top-opacity           : 0.8;
$navbar-top-link-color        : inherit !important;
$nav-top-float                : right;
$logobar-inner-background     : none;
$logo-bar-align               : right;
$logo-font                    : 'Montez', cursive;
$logo-font-size               : 64px;
$logo-color                   : $white;
$logo-text-shadow             : 0 1px 0 darken($light-sexy-blue, 40%);
$main-content-background      : url(../../images/white-opacity70.png);
$navbar-inner-background      : inherit !important;
$navbar-link-color            : inherit !important;
$navbar-link-text-shadow      : inherit !important;
$navbar-link-background-active: inherit !important;
$navbar-link-color-active     : inherit !important;
$section-header-font          : 'Montez', cursive;
$section-header-font-size     : 30px;
$section-background           : $light-sexy-blue;
$section2-background          : $cream;
$section3-background          : $salmon;
$section-header-color         : $white;
$section2-header-color        : $dark-brown-gray;
$section3-header-color        : $white;
$section-column-color         : $whitesmoke;
$section2-column-color        : $dark-brown-gray-light;
$section3-column-color        : $whitesmoke;

@import "partials/base";
